body{
    background-color: #0b0c10;
    justify-content: center;
}
h1{
    color: #14a76c;
    font-family: courier;
    font-weight: bold;
    font-size: 300%;
}
input{
    background-color: #c5c6c7;
    width: 300px;
    height:35px;
    border-radius: 50px;
    font-family: courier;
    font-weight: bold;
    font-size: 150%;
  }
  button{
    background-color: #45a29e;
    width: 300px;
    height: 70px;
    font-weight: bold;
    font-size: 200%;
    border-radius: 50px;
    color:#0b0c10;
    position:relative;
    font-family: courier;
  }
  button:hover{
    background-color: #66fcf1;
  }
  .form_div{
    background-color:#1f2833;
  }
  .q_div{
    background-color: #0b0c10;
  }
  #form_container{
    background-color: #1f2833;
  }
  .form_details{
    display: flex;
    flex-direction: row;
  }
  .form_text{
    color: #ff652f;
    font-family: courier;
    font-weight: bold;
    font-size: 300%;
  }